<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>

    <body>
        <iframe
            src="https://strudel.cc/#Ly9AdGl0bGUgdGVzdCBAYnkgRGVlCmxldCBtdnMgPSBzbGlkZXIoMC4xMjUsMCwxKQoKY29uc3QgZGJhbmsgPSAicm9sYW5kdHI4MDgiCnNldENwbSgxODApCgovLyBEcnVtcwpjb25zdCBvcmJpdCA9IHN0YWNrKApzb3VuZCgiYmQoMSw0LDAuMSksIHNkKDwxIDIgMSAzPiw0LDEuOSkiKS5iYW5rKGRiYW5rKS5fcHVuY2hjYXJkKCksCnNvdW5kKCJoaCg8MSAyPiw0LDAuMSkiKS5zb21ldGltZXNCeSguMSwgeCA9PiB4LnBseSgiMiIpKS5fcHVuY2hjYXJkKCksCi8vIEQjRiNBIyBBI0MjRSMgQkQjRiMgRyNCRCMKLy8gTGVhZApub3RlKCI8IFtEIyxGIyxBI10oMTAsMTYsMCkgW0EjLEMjLEUjXSgxNiwxNiwwKSBbQixEIyxGI10oMTAsMTYsMCkgW0cjLEIsRCNdKDE2LDE2LDApPi80IikKLnRyYW5zKDM2KS5zb3VuZCgic3VwZXJzYXciKSwKCi8vIEJhc3MKbm90ZSgiPFtEIyxGIyxBI10gW0EjLEMjLEUjXSBbQixEIyxGI10gW0cjLEIsRCNdPi80IikudHJhbnMoLTM2KS5zb3VuZCgic3F1YXJlIikKKQpvcmJpdC5nYWluKG12cyk%3D"
            width="100%"
            height="100%"
        ></iframe>
        <div class="site-wrapper">
            <slot></slot>
        </div>

        <style is global>
            * {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
            html, body {
                height: 100%;
            }

            iframe {
                border: none;
                position: absolute;
                inset: 0px;
                z-index: -1;
            }

            .site-wrapper {
                height: 100%;
                background-color: hsla(210deg 11% 15% / 0.8);
                z-index: 1;
            }

            .button {
                display: grid;
                top: 1em;
                left: 1em;
                padding: 0.5em 1em;
                color: #69db7c;
                border: 2px solid #69db7c;
                border-radius: 0.5em;
            }

            .button:hover {
                background-color: #69db7c;
                color: #000;
            }
        </style>
    </body>
</html>