<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Spicysands</title>
        <script src="https://unpkg.com/@strudel/embed@latest"></script>
    </head>

    
    <body>
            <strudel-repl 
        id="strudel-layer"
        >  <!--
            setcps(1)
n("<0 1 2 3 4>*8").scale('G4 minor')
.s("gm_lead_6_voice")
.clip(sine.range(.2,.8).slow(8))
.jux(rev)
.room(2)
.sometimes(add(note("12")))
.lpf(perlin.range(200,20000).slow(4))
            -->
        </strudel-repl>
        <div class="site-wrapper">
            <slot></slot>
        </div>

        <style is: global>
            * {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
            html, body {
                height: 100%;
            }

            strudel-repl {
                position: fixed;
                border: none;
                z-index: -1;
            }

            iframe {
                width: 100vw;
                height: 100vh;
            }

            .site-wrapper {
                height: 100%;
                background-color: hsla(210deg 11% 15% / 0.8);
                z-index: 1;
            }

            .button {
                display: grid;
                top: 1em;
                left: 1em;
                padding: 0.5em 1em;
                color: #69db7c;
                border: 2px solid #69db7c;
                border-radius: 0.5em;
            }

            .button:hover {
                background-color: #69db7c;
                color: #000;
            }
        </style>
    </body>
</html>