---
import BaseLayout from "../layouts/baselayout.astro"
---

<BaseLayout>
<script>
    var i = 0;
    var txt = 'Learning to make music through code.';
    var speed = 100;

    function typeWriter() {
    if (i < txt.length) {
        var demo = document.getElementById("demo");
        var cursor = demo.querySelector('.cursor');
            
        demo.insertBefore(document.createTextNode(txt.charAt(i)), cursor);
        i++;
        setTimeout(typeWriter, speed);
    }
}
document.addEventListener('DOMContentLoaded', () => {
    typeWriter();
});
</script>

<main>
    <h1>SpicySands (Aka Dee)'s Music Blog-thing</h1>
    <h2><p id="demo"><span class="cursor">▌</span></p></h2>
    <div class="button-container">
    <a href={`${import.meta.env.BASE_URL}/about`}" class="button">About Me</a> 
    <a href={`${import.meta.env.BASE_URL}/music`}" class="button">Music</a>
    </div>

</main>
</BaseLayout>

<style>

    main {
        height: 100%;
        display: grid;
        place-items: center;
        color: #69db7c;
    }

    .cursor { animation: blink 1s infinite;
}

    @keyframes blink{
        0%, 50% {
        opacity: 1;
        }
        51%, 100% {
        opacity: 0;
        }
    }

    .button-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2em;
        justify-content: center;
        margin-top: 2em;
    }

</style>
