---
import BaseLayout from "../layouts/baselayout.astro"
---
<BaseLayout>
<main>
  <div class = "content">
  <h1>Music:</h1>
  <h2><details>
  <summary>Humble beginings</summary>
  <div class="song-folder">
    <div class="song-element">
        <p>First Attempt <button class="button" data-id="change-code" data-file = "firstattempt.txt">load</button></p> 
    </div>
    <div class="song-element">
        <p>Test <button class="button" data-id="change-code" data-file = "test.txt" >load</button></p>
    </div>
    <div class="song-element">
        <p>Arrangement Test <button class="button" data-id="change-code" data-file ="arrangementtest.txt">load</button></p>
    </div>
  </div>
  </h2>
  </div>
  <a href={`${import.meta.env.BASE_URL}`} class="button">Return</a>
  </div>

  <script>
    const playbuttons = document.querySelectorAll('button[data-id ="change-code"]');
    playbuttons.forEach(button => {
        button.addEventListener("click", async () => {

        console.log("clicked:" + button.dataset.file );
        if(button.dataset.file != undefined){
            const repl = document.getElementById("strudel-layer");
            console.log("retriving from:" + "/songs/" + button.dataset.file);
            const response = await fetch("/songs/" + button.dataset.file);
            const newCode = await response.text();
            repl.editor.setCode(newCode);
        }
        })
    });
</script>

</main>
</BaseLayout>





<style>
    main {
        height: 100%;
        display: grid;
        place-items: center;
        color: #69db7c;
    }

    .content{
        text-align: center;
    }

    h1 {
        margin-top: 2em;
        align-self: start;
    }

    h2 {
        text-align: center;
        max-width: 255ch;
        padding: 2em;
    }

    .song-folder {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-items: center;
        align-items: start; 
    }

    .song-element{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 1em;
        height: 100%;
    }
</style>
